.hlavicka {
	padding: $mezera-od-okraju $mezera-od-okraju;
	border-bottom: 1px solid #aaaaaa;

	&__obsah {
		margin: 0 auto;
		max-width: $sirka-obsahu;
		display: grid;
		grid-template-columns: 1fr auto;
		align-items: center;
		gap: 1rem;
	}

	&__odkaz {
		color: inherit;
		text-decoration: none;

		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}

	&__logo {
		margin: 0;
		line-height: 1;
	}

	&__navigace {
		display: flex;
		justify-content: flex-end;
		gap: 0.5em 2em;
		flex-wrap: wrap;
	}
}
