.telo {
	width: 100%;
	max-width: $sirka-obsahu + 2 * $mezera-od-okraju;
	padding: $mezera-od-okraju;
	margin: 0 auto;

	img {
		max-width: 100%;
		height: auto;
	}

	table {
		border-collapse: collapse;
		width: 100%;
	}

	td,
	th {
		border: 1px solid #dddddd;
		text-align: left;
		padding: 0.5em;
	}

	tr:nth-child(even) {
		background-color: #dddddd;
	}
}
