<header class="hlavicka">
	<div class="hlavicka__obsah">
		<h1 class="hlavicka__logo">
			<a class="hlavicka__odkaz" href="/">
			Naše firma
		</a>
		</h1>
		<nav class="hlavicka__navigace">
			<a href="/cenik/" class="hlavicka__odkaz">Ceník</a>
			<a href="/o-nas/" class="hlavicka__odkaz">O nás</a>
		</nav>
	</div>
</header>
