---
layout: zakladni
---

<h2>Ceník</h2>

<table>
	<tr>
		<th>Položka</th>
		<th>Cena</th>
	</tr>
	<tr>
		<td>Malá službička</td>
		<td>800</td>
	</tr>
	<tr>
		<td>Střední služba</td>
		<td>1500</td>
	</tr>
	<tr>
		<td>Velká služba</td>
		<td>2000</td>
	</tr>
</table>
